.report{
    display: inline-flex;
    height: auto;
    width: 60%;
    text-align: left;
    border-bottom: 6px double white;
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;
}
.report_left{
width: 40%;
}
.report_right{
    width: 60%;
    padding-left: 8px;
    border-left:6px double white ;

}